doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    body
     button#Ping Ping from client to server
    block content
    block scripts
    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.socket.io.js')
